<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Solo</title>
</head>
<body>
<h1>Widget List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Color</th>
    </tr>
    <tr th:each="widget: ${widget}">
        <th th:text="${widget.id}">123</th>
        <th th:text="${widget.name}">Widget Name</th>
        <th th:text="${widget.color}">Widget Color</th>
    </tr>
</table>
</body>
</html>